body {
    margin: 6px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
}
.video-frame {
    flex-grow: 2;
}

.buttons-frame {
     background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.player-button {
    cursor: pointer;
    border: none;
    width: 35px;
    height: 45px;
    margin: 0;
    background-color: transparent;
}

.buttons-frame .main-buttons-frame {
    flex-grow: 1;
}

.button-icon {
    color: white;
    font-size: large;
}
