body {
    margin: 6px;
}

.player {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
}
.screen {
    flex-grow: 2;
}

.bottom-controls {
    /*cursor: pointer;*/
    background-color: black;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-buttons {
    display: inherit;
}

.viewing-panel {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    display: inherit;
    align-items: center;
    flex-grow: 2;
}

.viewing-progressbar {
    flex-grow: 2;
    margin: auto 10px;
}

.viewing-progressbar .bar {
    background-color: black;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.bar .slider {
    background-color: #f8104d;
    height: 5px;
    border-radius: 3px;
}

.right-buttons {
    display: inherit;
}

.player-button {
    cursor: pointer;
    margin: 10px;
}

.button-icon, .player-time {
    color: white;

}

.button-icon {
    font-size: larger;
}

.dot {
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    opacity: 0;
    width: 8px;
    height: 8px;
    background-color: #f8104d;
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: white;
    margin-left: -7px;
}

.viewing-panel:hover .viewing-progressbar .bar .dot{
    opacity: 1;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}


